.sidebar{
    width: 100%;
    height: 5rem;
    background-color: black;
    color: white;
    transition: .3s all;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.superAdminSidebar{
    background-color: rgba(109, 0, 0, 0.863) !important;
    height: 3rem !important;
    padding: 0 2rem;
}

.superAdminSidebar::after{
    content: "SUPERADMIN";
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    color: white;
    font-weight: 600;
}

.openerSidebar{
    background-color: rgba(4, 109, 0, 0.863) !important;
    height: 3rem !important;
    padding: 0 2rem;
}

.openerSidebar::after{
    content: "BEENGEDŐ";
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    color: white;
    font-weight: 600;
}

.adminSidebar{
    background-color: rgba(206, 99, 0, 0.788) !important;
    height: 3rem !important;
    padding: 0 2rem;
}

.adminSidebar::after{
    content: "ADMIN";
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    color: white;
    font-weight: 600;
}

.adminSidebar ul, .superAdminSidebar ul, .openerSidebar ul{
    justify-content: left !important;
}

.adminSidebar ul a, .superAdminSidebar ul a, .openerSidebar ul a{
    margin-left: 2rem;
}

.sidebar ul{
    opacity: 1;
    list-style: none;
    padding-left: 0;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.sidebar ul img{
    height: 3rem;
}

.sidebar ul a{
    color: white;
    text-decoration: none;
}

.sidebar ul a li{
    font-size: 1.5rem;
}