@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100;400;700&display=swap');

body, html{
    padding: 0;
    margin: 0;
    font-family: 'Bebas Neue', cursive;
}

*{
    box-sizing: border-box;
}

.hidden{
    display: none;
}

.smallLogo{
    height: 10rem !important;
}

#mainBackVideo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-color: black;
}

.landerWrapper{
    width: 80%;
    margin: 4rem auto 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    font-family: 'Bebas Neue', cursive;
}

.loginForm, .registerForm{
    background-color: rgb(255, 255, 255, 0.4);
    padding: 2rem;
    border-radius: 15px;
    border: 4px solid white;
}

.loginForm form, .registerForm form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 40rem;
    position: relative;
}

.loginForm form input, .registerForm form input{
    width: 100%;
    margin-bottom: 1.5rem;
    margin-top: .25rem;
    padding: .75rem 1rem;
    border: none;
    border-radius: 5px;
}

.loginForm form label, .registerForm form label{
    color: white;
}

.loginForm form button, .registerForm form button{
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
    border: none;
}

.half-width{
    width: calc(50% - 1rem);
    position: relative;
    margin: 0 0.5rem;
    text-align: left;
}

.loginForm .buttonWrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.loginForm .buttonWrapper .schLogin{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    cursor: pointer;
    text-shadow: none;
    align-self: flex-end;
}

.registerForm .buttonWrapper{
    display: flex;
    justify-content: center;
    width: 100%;
}

.landerWrapper img{
    height: 20rem;
    transition: .3s all;
}

.landerWrapper__link{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin-top: 3rem;
}

.landerWrapper__link a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    text-shadow: 4px 4px 4px black;
}

.landerWrapper__link a:not(:first-of-type){
    margin-left: 10rem;
}

.pageContainer{
    position: relative;
    width: 100%;
}

.mainSection{
    width: 100%;
    overflow: auto;
    transition: .3s all;
    padding: 0 5rem;
    margin: 0 auto;
}

.sideBarToggle{
    margin-top: .5rem;
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
}

.sideBarToggle i{
    cursor: pointer;
}

.containerFlex{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}