.root{
    width: 100%;
    overflow: auto;
    transition: .3s all;
    padding: 0 5rem 3rem 5rem;
    margin: 0 auto;
}

.newsFlex{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}